.App {
  text-align: center;
  height: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  font-size: 2em;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
